/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%;
}

/******************** MENU ********************/
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
    color: #444;
    text-decoration: none; /* remove text decoration */
}

header {
    background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

nav {
    float: left;
	padding: 20px;	
}

ul {
    list-style: none;
}

li {
    display: inline-block;
	padding: 10px
}

/******************** welcome section ********************/
.welcome {
    height: 100%;
    min-height: 100%; /* for Mozilla */
    background: url(http://cloud.niklausgerber.com/1b0r2D2Z1y0J/dark-red.png) center center no-repeat scroll #520E24; 
}